body {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
#content-wrapper {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
}